@import "../../../css/config.scss";
@import "../../../css/mixins.scss";

.header{
  @include make-container();
  @include make-container-max-widths();
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo{
    display: inline-block;
    width:1.6rem;
    height:1.6rem;

    &-path{
      //stroke:var(--primary-color);
      //fill:var(--primary-color);
    }
  }

  &__title{
    font-size: 1rem;
  }
}
