@import "./libs/caesar.scss";
@import "config.scss";
@import "mixins.scss";

*, *:before, *:after {
  box-sizing: inherit;
  user-select:none;
}

html{
	padding: 0;
	margin: 0;
  -webkit-font-smoothing: antialiased;

  box-sizing: border-box;

  // https://css-tricks.com/snippets/css/fluid-typography/
  @include fluid-type($minimum-viewport-width, $maximum-viewport-width, $minimum-font-size, $maximum-font-size);
}

strong{
	font-weight: bold;
}

a{
  transition: color 0.25s $easeOutQuad;
}

button{
  &:hover{
    cursor: pointer;
  }
}
