// bootstrap variable overrides

$primary:       #007dba;
//$secondary:     $gray-600;
//$success:       $green;
//$info:          $cyan;
//$warning:       $yellow;
//$danger:        $red;
//$light:         $gray-100;
//$dark:          $gray-800;

$body-bg:       #f0f3f5;
//$body-color:    $gray-900;

$yiq-text-dark: red;
//$yiq-text-light: $white;

// custom variables

$minimum-font-size:18px;
$maximum-font-size:24px;

$minimum-viewport-width:320px;
$maximum-viewport-width:1200px;

$horizontal-padding: 5vw;

/* icons */
$icon-size-reg:1.3rem;
$icon-size-small:0.8rem;
