
@import "../../css/config.scss";
@import "../../css/libs/animate.scss";
@import "../../css/mixins.scss";

.ui{
  @include fadeIn(1s);
  margin:0 auto;

  &--layered{
    display: flex;
    flex-direction: column;

    max-width: $maximum-viewport-width;
    min-height: 100vh;

    & .ui__content{
      position: relative;
      display: flex;
      align-items: center;
      min-height: 80vh;
    }

    & .ui__section{
      margin-bottom: 0;
      min-height: 0;

      &:nth-child(even){
        background-color: transparent;
      }
    }

    & .ui__header{
      min-height: 10vh;
    }

    & .ui__nav{
      visibility: visible;
    }
  }

  &__content{
    @include make-container();
    @include make-container-max-widths();
  }

  &__nav{
    visibility: hidden;
  }

  &__section{
    display: flex;
    align-items: center;
    min-height: 90vh;

    padding: 5rem 0;

    &:nth-child(even)
    {
      //background-color: color($secondary-color) alpha(15%));
    }
  }

  &__footer{
    min-height: 10vh;
  }
}
